body{
  background: #d9d9d9;
}

.container-fluid{
  padding: 0;
}
/* Background elements */

.BigSquare{
  background: black;
  color: white;
  height: 800px;
  width: 800px;
  transform: rotate(20deg);
  position: absolute;
  top: 10%;
}

.SmallSquare{
  background: #222222;
  height: 500px;
  width: 500px;
  transform: rotate(20deg);
  position: absolute;
  right: 5%;
  top: 20%;


}

/* big square elements */

.signup-form{
  text-align: left;
  width: 70%;
  transform: rotate(-20deg);
  margin-top: 114px;
  margin-left: 45px;

}

.form-row{
  margin: 2rem 0;
}

/* small square elements */

.BrandSquare{
  background-color: white;
  display: inline-block;
  text-align: center;
  transform: rotate(-20deg);
  position: relative;
  right: 2rem;

}

.BrandName{
  font-size: 6rem;
}

.Address{
  text-align: right;
  color: #d9d9d9;
  transform: rotate(-20deg);
}

@media screen and (max-width: 1300px) {
  .BigSquare{
    background: black;
    color: white;
    height: auto;
    width: 100%;
    transform: rotate(0deg);
    position: static;
    overflow-y:auto;

  }

  .SmallSquare{
    background: #222222;

    width: 100%;
    transform: rotate(0deg);

    height: 543px;
    position: relative;
    right: 0;
    top: 0;
  }

  /* big square elements */

  .signup-form{
    text-align: left;
    width: 70%;
    transform: rotate(0deg);
    margin-top: 114px;
    margin-left: 45px;

  }

  .form-row{
    margin: 2rem 0;
  }

  /* small square elements */

  .BrandSquare{
    background-color: white;
    display: block;
    text-align: center;
    transform: rotate(0deg);
    right: 0;
  }

  .BrandName{
    font-size: 6rem;
  }

  .Address{
    text-align: right;
    color: #d9d9d9;
    transform: rotate(0deg);
  }
}
